@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">    
   
    <div class="col-xl-4 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 primary">@Model.CategoriesCount</h3>
                            <span>الفئات</span>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="ft-box primary font-large-2 float-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <div class="media">
                        <div class="media-body text-left">
                            <h3 class="mb-1 primary">@Model.ProductsCount</h3>
                            <span>المنتجات</span>
                        </div>
                        <div class="media-right align-self-center">
                            <i class="ft-package primary font-large-2 float-right"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
